/* Entire application styles */
#app {
  display: flex;
}

@media (min-width: 1000px) {
  #app {
    width: 950px;
  }
}

/* Content (whole website including Header) */
.content {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

/* Wrapper (wraps each page under Header)*/
.wrapper {
  display: flex;
  flex-direction: column;
}
